/* A supprimer quand page terminée*/
.reste-a-faire{
  color: red;
  margin: 20px auto 20px auto;
}

/* settings for calendar */
.react-calendar{
  vertical-align: middle;
  margin: 20px auto 20px auto;
}

/* general settings */
.container{
  width: 98% !important;
  display: flex;
  flex-direction: column;
}

.row{
  margin: 0;
  display: flex;
  justify-content: center;
}

.checkbox{
  display: flex;
  /* mobile friendly test */
  /* flex-direction: column; */  
}

.checkbox span{ 
  margin: 10px;
  text-align: left;
}


.list-events{
  display: flex;
  flex-direction: column;
}

.list-registrations{
  display: flex;
  flex-direction: column;
}

/* html{
  width: 100%;
  margin: 0;
  padding:0
} */

ul{
  margin: 0;
}

.col-icon{
  display: flex;
  justify-content: center;
  align-self: center;
}

/* events list settings */
.event-header{
  background-color: rgb(55,126,114, 1);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.event-item{
  background-color:rgb(248, 200, 190, 0.5);
  display: flex;
}

.registration-header{
  background-color: rgb(55,126,114, 0.3);
  color: rgba(0, 0, 0, 0.7);
  line-height: 20px;
  display: flex;
}

.registration-item{
  display: flex;
}

.create-registration{
  text-align: center;
  text-decoration: underline;
}

.warning-icon{
  color: red !important
}

/* Modal settings */

/* settings buttons */
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

