.page-footer {
  /* position: fixed; 
  bottom: 0;            */
  width: 100%;
  max-height: 50px;
  padding: 5px;
  background-color: white !important;
  display:flex;
  justify-content: center;
  align-items: center;
}

.text-footer{
  margin: 0;
}