.input-field .prefix ~ .select-wrapper {
    margin-left:3rem;
    width:92%;
    width:calc(100% - 3rem);
}
.select{
    margin: auto;
}
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
    border-color: white!important;
    box-shadow: 0 0 0 0 !important;
}
.ant-select-selection:hover{
    border-color: #83bbb4!important;
}